@use "../global" as *;

.p-common-link__list {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;

  @include mq("md") {
    grid-template-columns: repeat(3, 1fr);
  }
}

.p-common-link__item {
  min-width: 0;
}

.p-common-link__link {
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  color: #fff;
  aspect-ratio: 479 / 390;
}

.p-common-link__img img {
  transition: 0.3s ease-in-out;
  aspect-ratio: 479 / 390;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-common-link__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.p-common-link__overlay {
  position: absolute;
  inset: 0;
  background: rgba(86, 86, 86, 0.38);
  z-index: 1;
}

.p-common-link__body {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-common-link__en {
  font-family: $second-font-family;
  font-size: rem(40);
  font-weight: $bold;
  display: block;
  text-align: center;

  @include mq("md") {
    font-size: rem(58);
  }
}

.p-common-link__ja {
  font-size: rem(18);
  font-weight: $normal;
  line-height: 1.4;
  margin-top: rem(-4);
  display: block;
  text-align: center;

  @include mq("md") {
    font-size: rem(20);
  }
}

.p-common-link__link:hover .p-common-link__img img {
  transform: scale(1.05);
}