@use "../global" as *;

.p-features {
  background: #3a3a3a;
  color: #fff;
  padding-top: rem(60);
  padding-bottom: rem(60);

  @include mq("md") {
    padding-top: rem(124);
    padding-bottom: rem(250);
  }
}

.p-features__content {
  @include mq("md") {
    max-width: rem(1200);
    margin-left: auto;
    margin-right: auto;
  }
}

.p-features__content--other {
  @include mq("md") {
    max-width: rem(896);
    margin-left: auto;
    margin-right: auto;
  }
}

.p-features__enTitle {
  font-family: "Cormorant", serif;
  font-weight: $bold;
  line-height: 1.6;
  color: #fff;
  font-size: rem(40);

  @include mq(md) {

    font-size: rem(58);
  }
}

.p-features__jaTitle {
  font-family: $base-font-family;
  font-weight: $normal;
  font-size: rem(16);
  line-height: 1.4;
  color: #fff;
  @include mq(md){
    margin-top: rem(14);
    font-size: rem(20);
  }
}

.p-features__list {
  margin-top: rem(32);

  @include mq("md") {
    margin-top: rem(102);
  }
}

.p-features__item {
  display: flex;
  gap: rem(24);
  flex-direction: column;

  @include mq("md") {
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: rem(47);
  }
}

.p-features__item--other {
  @include mq(md) {
    gap: rem(103);
  }
}

.p-features__item+.p-features__item {
  margin-top: rem(64);

  @include mq(md) {
    margin-top: rem(180);

  }
}

.p-features__item--other+.p-features__item--other {
  @include mq(md) {

    margin-top: rem(129);
  }
}

.p-features__item--reverse {
  @include mq("md") {
    flex-direction: row-reverse;
  }

}

.p-features__itemBody {
  width: 100%;

  @include mq(md) {
    max-width: rem(541);
  }
}

.p-features__itemBody--other {
  @include mq(md) {
    max-width: rem(438);
  }
}

.p-features__itemTitle {
  font-family: "Noto Serif JP", serif;
  font-weight: $bold;
  font-size: rem(18);
  line-height: 1.45;
  color: #fff;

  @include mq("md") {
    font-size: rem(24);
  }
}

.p-features__itemText {
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: 2.05;
  color: #fff;
  margin-top: rem(24);
  font-size: rem(14);
  
  @include mq(md) {
    margin-top: rem(40);
    font-size: rem(16);

  }
}

.p-features__itemMedia {
  position: relative;
  overflow: hidden;
  width: 100%;

  @include mq(md) {
    max-width: rem(609);

  }
}

.p-features__itemMedia img {
  // aspect-ratio: 609 / 406;
  object-fit: cover;
  width: 100%;
  height: 100%;
  // height: auto;
}

.p-features__itemOther-img {
  width: 100%;

  @include mq(md) {
    max-width: rem(355);
  }
}

.p-features__itemOther-img img {
  aspect-ratio: 355 / 237;
  object-fit: cover;
  width: 100%;
  height: auto;
}