@use "../global" as *;

.p-history {
  background: #3a3a3a;
  padding-top: rem(60);
  padding-bottom: rem(60);

  @include mq("md") {
    padding-top: rem(120);
    padding-bottom: rem(120);
  }
}

.p-history__content {
  max-width: rem(915);
  margin-left: auto;
  margin-right: auto;
}

.p-history__enTitle {
  font-family: "Cormorant", serif;
  font-weight: $bold;
  font-size: rem(40);
  color: #fff;
  @include mq(md){
    font-size: rem(58);
  }
}

.p-history__jaTitle {
  font-family: $base-font-family;
  font-weight: $normal;
  font-size: rem(16);
  line-height: 1.4;
  color: #fff;
  @include mq(md){
    margin-top: rem(12);
    font-size: rem(20);
  }
}

.p-history__timeline {
  position: relative;
  margin-top: rem(32);

  @include mq("md") {
    margin-top: rem(65);
  }

  &::before {
    content: "";
    position: absolute;
    left: rem(3);
    top: rem(10);
    bottom: rem(10);
    width: 1px;
    background: #fff;
  }
}


.p-history__item {
  display: grid;
  grid-template-columns: rem(7) rem(88) 1fr;
  column-gap: rem(12);
  align-items: start;
  color: #fff;

  & + & {
    margin-top: rem(58);
  }
}

.p-history__dot {
  margin-top: rem(11);
  width: rem(7);
  height: rem(7);
  border-radius: 9999px;
  background: #fff;
}

.p-history__year,
.p-history__desc {
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: 2.05;
  font-size: rem(14);
  @include mq(md){
    font-size: rem(16);
    
  }
}

