@use "../global" as *;

.p-introduce {
  padding-top: rem(80);
  padding-bottom: rem(80);

  @include mq("md") {
    padding-top: rem(146);
    padding-bottom: rem(146);
  }
}

.p-introduce__content {
  max-width: rem(899);
}

.p-introduce__enTitle {
  font-family: "Cormorant", serif;
  font-weight: $bold;
  line-height: 1.6;
  color: #000;
  font-size: rem(40);
  @include mq(md){
    font-size: rem(58);
    
  }
}

.p-introduce__jaTitle {
  margin-top: rem(12);
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: 1.4;
  font-size: rem(14);
  color: #000;
  @include mq(md){
    margin-top: rem(24);
    font-size: rem(20);
    
  }
}

.p-introduce__text {
  margin-top: rem(48);
  font-family: $base-font-family;
  font-weight: $normal;
  font-size: rem(16);
  line-height: 2.05;
  color: #222;
}

