@use "../global" as *;

.p-introduce {
  padding-top: rem(60);
  padding-bottom: rem(60);
  position: relative;
  overflow-x: clip;

  @include mq("md") {
    padding-top: rem(146);
    padding-bottom: rem(146);
  }
}

.p-introduce__media {
  position: absolute;
  inset: 0;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  z-index: -1;
  top: rem(-160);
}

.p-introduce__content {
  max-width: rem(899);
}

.p-introduce__enTitle {
  font-family: "Cormorant", serif;
  font-weight: $bold;
  line-height: 1.6;
  color: #000;
  font-size: rem(40);
  @include mq(md){
    font-size: rem(58);
    
  }
}

.p-introduce__jaTitle {
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: 1.4;
  font-size: rem(14);
  color: #000;
  @include mq(md){
    margin-top: rem(24);
    font-size: rem(20);
    
  }
}

.p-introduce__text {
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: 2.05;
  color: #222;
  font-size: rem(14);
  margin-top: rem(24);
  @include mq(md){
    font-size: rem(16);
    margin-top: rem(48);
    
  }
}

