@use "../global" as *;

.p-privacy {
  padding-bottom: rem(60);

  @include mq("md") {
    padding-bottom: rem(160);
  }
}

.p-privacy__content {
  max-width: rem(899);
  margin-inline: auto;
}

.p-privacy__enTitle {
  font-family: "Cormorant", serif;
  font-weight: $bold;
  font-size: rem(40);
  color: #000;

  @include mq(md) {
    font-size: rem(58);
  }
}

.p-privacy__jaTitle {
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: 1.4;
  color: #000;
  font-size: rem(14);

  @include mq(md) {
    margin-top: rem(14);

    font-size: rem(20);
  }
}

.p-privacy__body {
  @include mq(md) {

    margin-top: rem(48);
  }
}

.p-privacy__intro {
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: 2.05;
  color: #222;
  font-size: rem(14);

  @include mq(md) {
    font-size: rem(20);

  }
}

.p-privacy__sections {
  display: grid;
  gap: rem(24);
  margin-top: rem(24);

  @include mq(md) {
    gap: rem(40);
    margin-top: rem(56);

  }
}

.p-privacy__sectionTitle {
  font-weight: $bold;
  line-height: 1.6;
  color: #000;
  font-size: rem(16);

  @include mq(md) {
    font-size: rem(20);

  }
}

.p-privacy__text {
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: 2.05;
  color: #222;
  margin-top: rem(12);
  font-size: rem(14);

  @include mq(md) {
    margin-top: rem(16);
    font-size: rem(20);

  }
}

.p-privacy__list {
  padding-left: rem(18);
  display: grid;
  list-style: disc;
}

.p-privacy__listItem {
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: 1.8;
  color: #222;
  font-size: rem(14);

  @include mq(md) {
    font-size: rem(20);

  }
}

.p-privacy__dl {
  margin-top: rem(16);
  display: grid;
  gap: rem(12);
}

.p-privacy__dlRow {}

.p-privacy__dt {
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: 1.6;
  color: #000;
  font-size: rem(14);

  @include mq(md) {
    font-size: rem(20);

  }
}

.p-privacy__dd {
  font-family: $base-font-family;
  font-weight: $normal;
  font-size: rem(14);
  line-height: 2.0;
  color: #222;

  @include mq(md) {
    font-size: rem(20);

  }
}

.p-privacy__mail {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  word-break: break-all;
}