@use "../global" as *;

.p-purpose {
  padding-top: rem(60);
  padding-bottom: rem(60);
  background: #E6E6E6;
  position: relative;
  z-index: 5;

  @include mq(md) {
    padding-top: rem(120);
    padding-bottom: rem(120);
  }
}

.p-purpose__content {
  max-width: rem(915);
}

.p-purpose__enTitle {
  font-family: "Cormorant", serif;
  font-weight: $bold;
  line-height: 1;
  color: #000;
  font-size: rem(40);

  @include mq(md) {
    font-size: rem(58);

  }
}

.p-purpose__jaTitle {
  margin-top: rem(12);
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: 1.4;
  font-size: rem(16);
  color: #000;

  @include mq(md) {
    font-size: rem(20);

  }
}

.p-purpose__vision {
  margin-top: rem(32);

  @include mq(md) {
    margin-top: rem(68);
  }
}

.p-purpose__sectionEn {
  font-family: "Cormorant", serif;
  font-weight: $bold;
  line-height: 0.7;
  color: #000;
  font-size: rem(28);

  @include mq(md) {
    font-size: rem(40);

  }
}

.p-purpose__visionTitle {
  font-family: $second-font-family;
  font-weight: $bold;
  line-height: 1.1666667;
  color: #000;
  font-size: rem(16);
  margin-top: rem(12);

  @include mq(md) {
    margin-top: rem(24);
    font-size: rem(24);

  }
}

.p-purpose__text {
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: 2.05;
  color: #000;
  margin-top: rem(12);
  font-size: rem(14);

  @include mq(md) {
    margin-top: rem(16);
    font-size: rem(16);

  }
}

.p-purpose__divider {
  border-top: 1px solid #000;
  margin-top: rem(24);
  margin-bottom: rem(24);

  @include mq(md) {
    margin-top: rem(96);
    margin-bottom: rem(96);

  }
}

.p-purpose__missionLead {
  margin-top: rem(12);
  font-family: $second-font-family;
  font-weight: $bold;
  font-size: rem(14);
  line-height: 1.6666667;
  color: #000;

  @include mq(md) {
    margin-top: rem(24);
    font-size: rem(24);
  }
}

.p-purpose__missionItems {
  margin-top: rem(40);
  display: grid;
  gap: rem(32);
}

.p-purpose__missionItemTitle {
  font-family: $base-font-family;
  font-weight: $bold;
  line-height: 1.4;
  color: #000;
  font-size: rem(16);

  @include mq(md) {
    font-size: rem(20);

  }
}

.p-purpose__divider--bottom {
  margin-bottom: 0;
  margin-top: rem(24);

  @include mq(md) {
    margin-top: rem(96);

  }
}

.p-purpose__policy {
  margin-top: rem(24);

  @include mq(md) {
    margin-top: rem(96);
  }
}

.p-purpose__policyInner {
  max-width: rem(902);
}

.p-purpose__policyHead {
  display: flex;
  align-items: center;
  gap: rem(20);
}

.p-purpose__policyNum {
  font-family: "Cormorant", serif;
  font-weight: $bold;
  font-size: rem(28);
  line-height: 0.7;
  color: #000;

  @include mq(md) {
    font-size: rem(40);

  }
}

.p-purpose__policyTitle {
  font-family: "Cormorant", serif;
  font-weight: $bold;
  line-height: 0.7;
  color: #000;
  font-size: rem(28);

  @include mq(md) {
    font-size: rem(40);

  }
}

.p-purpose__policyLead {
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: 2.05;
  color: #000;
  margin-top: rem(12);
  font-size: rem(14);

  @include mq(md) {
    margin-top: rem(26);
    font-size: rem(16);

  }
}

.p-purpose__policyFigure {
  margin-top: rem(39);
  display: flex;
  justify-content: center;

  img {
    display: block;
    width: 100%;
    max-width: rem(406);
    height: auto;
  }
}

.p-purpose__policyList {
  margin-top: rem(55);
  display: grid;
  gap: rem(32);
  padding: 0;
  list-style: none;
}

.p-purpose__policyItemTitle {
  font-family: $second-font-family;
  font-weight: $bold;
  font-size: rem(24);
  line-height: 1.1666667;
  color: #000;
}

.p-purpose__policyItemText {
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: 2.05;
  color: #000;
  margin-top: rem(12);
  font-size: rem(14);
  @include mq(md){
    margin-top: rem(16);
    font-size: rem(16);
    
  }
}