@use "../global" as *;

.p-page-mv {
  overflow-x: clip;
}


.p-page-mv__content {
  position: relative;
}

.p-page-mv__img {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.p-page-mv__img img {
  aspect-ratio: 480 / 480;
  object-fit: cover;
  width: 100%;
  height: auto;

  @include mq(md) {
    aspect-ratio: 1440 / 480;
    object-position: center;
  }
}
.p-page-mv__img--mobile img {
  object-position: 67%;
  @include mq(md) {
    object-position: center;
  }
}
.p-page-mv__img--corporate img {
  object-position: 68%;
  @include mq(md) {
    object-position: center;
  }
}
.p-page-mv__img--event img {
  object-position: 68%;
  @include mq(md) {
    object-position: center;
  }
}
.p-page-mv__img--other img {
  object-position: 55%;
  @include mq(md) {
    object-position: center;
  }
}
.p-page-mv__detail {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.p-page-mv__en {
  font-size: rem(40);
  font-weight: $bold;
  font-family: "Cormorant", serif;
  color: #fff;
  @include mq(md){
    font-size: rem(58);
  }
}

.p-page-mv__ja {
  font-size: rem(16);
  font-weight: $normal;
  font-family: $base-font-family;
  color: #fff;
  @include mq(md){
    font-size: rem(20);
  }
}